@model SoccerMatches_revised.ViewModels.SoccerMatchDetails

<form>
    <div class="form-group">
        <label asp-for="SoccerMatch.Id"></label>
        <input asp-for="SoccerMatch.Id" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="SoccerMatch.FirstTeam"></label>
        <input asp-for="SoccerMatch.FirstTeam" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="SoccerMatch.FirstTeamGoals"></label>
        <input asp-for="SoccerMatch.FirstTeamGoals" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="SoccerMatch.SecondTeam"></label>
        <input asp-for="SoccerMatch.SecondTeam" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="SoccerMatch.SecondTeamGoals"></label>
        <input asp-for="SoccerMatch.SecondTeamGoals" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="SoccerMatch.Date"></label>
        <input asp-for="SoccerMatch.Date" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="SoccerMatch.Stadium"></label>
        <input asp-for="SoccerMatch.Stadium" class="form-control" readonly />
    </div>
</form>
