@{
    ViewData["Title"] = "Soccer Matches";
}

<div class="text-left">
    <h1 class="display-4">Welcome to soccer matches!</h1>
    <p>
        - licence: Creative Commons Zero v1.0 Universal (CC0)<br />
        - author: Matija Bognar<br />
        - version: 1.0<br />
        - language: english<br />
        - match attributes:<br />
        - matchid<br />
        - first_team<br />
        - first_team_goals<br />
        - first_team_players<br />
        - second_team<br />
        - second_team_goals<br />
        - second_team_players<br />
        - substitutions<br />
        - date<br />
        - stadium<br />
        - player attributes:<br />
        - playerid<br />
        - player_name<br />
        - player_surname<br />
        - substitution attributes:<br />
        - substitutionid<br />
        - outgoingid<br />
        - incomingid<br />
        - number of tables: 5<br />
        - available formats: csv, json<br />
        - object count: 10<br />
        - year published: 2022.<br />
        - child attributes: 3<br />
    </p>
    <p><a href="~/data/matches.csv" download>Download .csv</a></p><br />
    <p><a href="~/data/matches.json" download>Download .json</a></p><br />
</div>
